@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gantt-container {
    height: 100vh;
    overflow: auto;
}

body {
    height: 100vh;
}

#ganttDiv {
    height: 100vh;
}

.price-details {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.gantt_cal_lsection {
    display: none;
}

.gantt_cal_ltitle .gantt_title {
    display: none;
}

.details-title {
    padding: 6px 7px;
}

.details-collection {
    display: flex;
    justify-content: space-between;
}

.summary-title {
    font-weight: 700;
    font-size: 16px;
}

#task-details {
    height: 100%;
}

#folder-details {
    height: 100%;
}

#milestone-details {
    height: 100%;
}

.details-lightbox {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px;
    padding-bottom: 14px;
    min-height: 250px;
}

.breadcrumb-button {
    padding: 0;
    font-size: 12px;
    max-width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.parents-component {
    margin-left: -10px;
    min-height: 14px;
    padding-bottom: 10px;
}

.details-progress {
    padding-right: 20px;
    padding-top: 20px;
}

.summary {
    display: flex;
    flex-direction: column;
}

.milestone-icon {
    font-size: 42px;
    margin-right: 20px;
    color: black;
}

.milestone-title > .summary-title {
    font-size: 28px;
    color: #000000de;
}

.title-line {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.milestone-details-lightbox {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 28px 22px 28px;
}

.milestone-date {
    justify-content: center;
    display: flex;
}

.gantt_cal_light {
    min-height: 250px;
    height: fit-content !important;
    top: 15% !important;
}

.gantt_cal_larea {
    height: fit-content !important;
}

.gantt_cal_template {
        height: fit-content !important;
}

.milestone-summary {
    padding-bottom: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zoom-controller {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    height: fit-content;
    position: fixed;
    right: 17px;
    bottom: 33px;
    flex-direction: column-reverse;
    z-index: 10;
}

.zoom-controller:hover {
    display: flex;
}

#root {
    position: relative;
}

.zoom-button {
    margin: 5px 3px;
}

.view-buttons-section {
    padding-top: 20px;
    width: 100%;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
}

.button {
    width: 120px
}

.cost-edit-title {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    padding-bottom: 5px;
}

.edit-cost {
    display: flex;
    align-items: flex-end;
    min-width: 100px;
    display: flex;
    justify-content: flex-start;
}

.edit-button {
    margin-left: 8px;
    height: 30px;
    color: #7d7b7bf2;
}

.cost-edit {
}

.cost-edit-switch {
    font-size: 12px;
}

.ant-statistic-title, .cost-edit-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ant-statistic-content {
    font-size: 20px;
}

.ant-input-number-input-wrap > input {
    padding-left: 5px;
    height: 28px;
}

.display-cost {
    min-width: 90px;
}

.gantt_milestone > .gantt_task_content::after  {
   font-family: "Font Awesome 5 Free";
   content: "\f005";
   display: block;
   text-indent: 0;
 }

 .gantt_milestone > .gantt_task_content {
    background: #00abff !important;
    transform: none !important;
    color: #e6f7ff !important;
    font-size: 14px;
    border: #009fed 1px solid !important;
 }

 .title-edit {
    display: flex;
    align-items: center;
    min-width: 230px;
    justify-content: space-between;
 }

 .title-input {
    padding-left: 5px;
 }

 .gantt_row_project.gantt_selected {
    background: rgba(24, 144, 255, 0.2) !important;
 }

 .gantt_row_milestone.gantt_selected {
    background: rgba(24, 144, 255, 0.2) !important;
 }

 .gantt_row_task.gantt_selected {
    background: rgba(24, 144, 255, 0.2) !important;
 }

.gantt_task_row.gantt_selected {
    background: rgba(24, 144, 255, 0.2) !important;
}

 .gantt_selected .gantt_task_cell {
   border-right-color: rgb(24 144 255 / 21%) !important;
 }

 .gantt_row:hover {
     background: rgba(24, 144, 255, 0.3) !important;
 }