.gantt_cal_light {
    min-height: 350px;
    height: fit-content !important;
    top: 15% !important;
    border-radius: 2px;

	.price-details {
		display: flex;
		justify-content: space-between;
		padding-top: 20px;
		flex-direction: column;
		min-height: 150px;
	}
	.details-title {
		padding: 6px 7px;
	}
	.details-collection {
		display: flex;
		justify-content: space-between;
		width: 100%;
		min-height: 100px;
        padding-left: 17px;
	}
	.summary-title {
		font-weight: 700;
		font-size: 16px;
        max-width: 388px;
        width: fit-content;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
	}
	#task-details {
		height: 100%;
	}
	#folder-details {
		height: 100%;
	}
	#milestone-details {
		height: 100%;
	}
	.details-lightbox {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 14px;
		padding-bottom: 14px;
		min-height: 250px;
		align-items: center;
	}
	.breadcrumb-button {
		padding: 0;
		font-size: 12px;
		max-width: 110px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.parents-component {
		margin-left: -10px;
		min-height: 14px;
		padding-bottom: 10px;
	}
	.details-progress {
        margin-top: 20px;
	}
	.summary {
		display: flex;
		flex-direction: column;
	}
	.milestone-icon {
		font-size: 42px;
		margin-right: 20px;
		color: black;
	}
	.milestone-title>.summary-title {
		font-size: 28px;
		color: #000000de;
	}
	.title-line {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px 0;
	}
	.milestone-details-lightbox {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 10px 28px 22px 28px;
	}
	.milestone-date {
		justify-content: center;
		display: flex;
	}
	.button {
		width: 120px
	}
	.cost-edit-title {
		color: rgba(0, 0, 0, 0.45);
		font-size: 11px;
		padding-bottom: 5px;
	}
	.edit-cost {
		align-items: center;
		min-width: 100px;
		display: flex;
		justify-content: space-between;
	}
	.edit-button {
		margin-left: 8px;
		color: #7d7b7bf2;
	}
	.cost-display,
	.cost-edit {
		display: flex;
		justify-content: space-between;
		width: 466px;
	}
	.cost-edit-switch {
		font-size: 9px;
		height: 20px;
	}
	.ant-statistic-title,
	.cost-edit-title {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.ant-statistic-content {
		font-size: 20px;
	}
	.ant-input-number-input-wrap>input {
		padding-left: 5px;
		height: 28px;
		font-size: 10px;
		height: 15px;
	}
	.ant-input-number-input-wrap {
		margin-top: -4px;
	}
	.display-cost {
		min-width: 90px;
		display: inline-flex;
		justify-content: flex-end;
	}
	.ant-input-number {
		border: none;
		border-bottom: 1px solid #d5d5d5;
		border-radius: 0;
	}
	.ant-input-number-focused {
		border: none;
		border-bottom: 1px solid #d5d5d5;
		border-radius: 0;
		border-color: #d5d5d5;
		box-shadow: none;
	}
	.title-edit {
		display: flex;
		align-items: center;
		min-width: 230px;
		justify-content: space-between;
	}
	.title-input {
		padding-left: 5px;
	}

	.total-cost {
		border-top: 1px dashed #d3d3d3;
		margin-top: 8px;
		padding-top: 11px;
	}

		.view-buttons-section {
    		padding-top: 20px;
    		width: 100%;
    		align-items: flex-end;
    		display: flex;
    		justify-content: flex-end;
    	}

		.gantt_cal_larea {
    		height: fit-content !important;
    	}
    	.gantt_cal_template {
    		height: fit-content !important;
    	}
    	.gantt_cal_lsection {
    		display: none;
    	}
    	.gantt_cal_ltitle .gantt_title {
    		display: none;
    	}
	.milestone-summary {
		padding-bottom: 32px;
		display: flex;
		flex-direction: column;
		align-items: center;
        width: 100%;
	}

	.editable-buttons {
	    width: 100%;
        display: flex;
        justify-content: space-between;
	}
	.delete-button {

	}
}


.snufkin {
	position: relative;
	height: 100%;
	.gantt-container {
		overflow: auto;
		height: 100%;
        #ganttDiv {
            height: 100%;
        }
	}

    .toolbar {
        display: flex;
    }

	.zoom-controller {
		display: flex;
		justify-content: flex-end;
		width: fit-content;
		height: fit-content;
		position: fixed;
		right: 17px;
		bottom: 33px;
		flex-direction: column-reverse;
		z-index: 10;
	}
	.zoom-controller:hover {
		display: flex;
	}
	.zoom-button {
		margin: 5px 3px;
	}

	.gantt_milestone>.gantt_task_content::before {
		font-family: "Font Awesome 5 Free";
		content: "\f005";
		display: block;
		text-indent: 0;
	}
	.gantt_milestone>.gantt_task_content {
		background: #00abff !important;
		transform: none !important;
		color: #e6f7ff !important;
		font-size: 14px;
		border: #009fed 1px solid !important;
	}

	.gantt_row_project.gantt_selected {
		background: rgba(24, 144, 255, 0.2) !important;
	}
	.gantt_row_milestone.gantt_selected {
		background: rgba(24, 144, 255, 0.2) !important;
	}
	.gantt_row_task.gantt_selected {
		background: rgba(24, 144, 255, 0.2) !important;
	}
	.gantt_task_row.gantt_selected {
		background: rgba(24, 144, 255, 0.2) !important;
	}
	.gantt_selected .gantt_task_cell {
		//        border-right-color: rgb(24 144 255 / 21%) !important;
	}
	.gantt_row:hover {
		background: rgba(24, 144, 255, 0.3) !important;
	}
}